@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
body {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}
/* Scroll general del body */
body::-webkit-scrollbar {
	width: 12px; /* ancho de la barra */
}

body::-webkit-scrollbar-track {
	background: transparent; /* fondo del track */
}
.max-h-open {
	max-height: 1000px; /* o lo que necesite tu contenido */
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(30, 64, 175, 0.5); /* azul semitransparente */
	border-radius: 6px;
	border: 3px solid transparent; /* separa un poco del track */
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(30, 64, 175, 0.8); /* más intenso al hover */
}

/* Firefox */
body {
	scrollbar-width: thin;
	scrollbar-color: rgba(30, 64, 175, 0.5) transparent;
}
html {
	scroll-behavior: smooth;
}
body {
	scroll-padding-top: 80px; /* si tenés navbar fijo */
}

section {
	scroll-snap-align: start;
}

.swiper-pagination-bullet {
	background-color: #c0c0c0; /* equivale a bg-gray-400 */
	opacity: 0.6;
}

.swiper-pagination-bullet-active {
	background-color: #022257; /* azul principal */
	opacity: 1;
}
/* Aplicar clip-path solo en pantallas mayores a lg */
/* Clip-path por defecto (para móvil y tablets) */
.contacto-diagonal {
	position: relative;
	clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
}

/* Para pantallas lg y mayores, eliminamos el clip-path */
@media (min-width: 1024px) {
	.contacto-diagonal {
		clip-path: none;
	}
}
/* Animación de expandir/colapsar */
.expandible {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.expandible.show {
	max-height: 500px; /* ajusta según lo largo del texto */
	opacity: 1;
}
.border-main {
	border-color: #022257ff;
}
.bg-main {
	background-color: #080232;
}
.bg-secondary {
	background-color: #111;
}
.bg-highlight {
	background-color: #c0c0c0;
}
.text-main {
	color: #022257ff;
}
@keyframes text-focus-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

.text-focus-in {
	opacity: 0; /* Inicia invisible */
}

.text-focus-in.active {
	animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.swiper-pagination-bullet {
	background: #ffffff6b; /* color del puntito */
	opacity: 0.6;
}

.swiper-pagination-bullet-active {
	background: #ffffffff; /* color azul Tailwind */
	opacity: 1;
}
a:hover[href*="wa.me"] {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
}
a[href*="wa.me"]:hover {
	box-shadow: 0 0 20px rgba(37, 211, 102, 0.6), 0 0 40px rgba(37, 211, 102, 0.4);
	transform: scale(1.2);
	transition: all 0.3s ease;
}
