@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
body {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}
.swiper-pagination-bullet {
	background-color: #c0c0c0; /* equivale a bg-gray-400 */
	opacity: 0.6;
}

.swiper-pagination-bullet-active {
	background-color: #022257; /* azul principal */
	opacity: 1;
}
/* Aplicar clip-path solo en pantallas mayores a lg */
/* Clip-path por defecto (para móvil y tablets) */
.contacto-diagonal {
	position: relative;
	clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
}

/* Para pantallas lg y mayores, eliminamos el clip-path */
@media (min-width: 1024px) {
	.contacto-diagonal {
		clip-path: none;
	}
}

.border-main {
	border-color: #c0c0c0;
}
.bg-main {
	background-color: #080232;
}
.bg-secondary {
	background-color: #111;
}
.bg-highlight {
	background-color: #c0c0c0;
}
.text-main {
	color: #022257ff;
}
@keyframes text-focus-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

.text-focus-in {
	opacity: 0; /* Inicia invisible */
}

.text-focus-in.active {
	animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.swiper-pagination-bullet {
	background: #ffffff6b; /* color del puntito */
	opacity: 0.6;
}

.swiper-pagination-bullet-active {
	background: #ffffffff; /* color azul Tailwind */
	opacity: 1;
}
